/* CSS for connections.sabah */
body { background-color:#f9f9f9; font:normal 1.4em 'Droid Sans', sans-serif; color:#333333; }
p { line-height: 1.8em; padding:0 7px; }
h1 { letter-spacing:-2px; font-weight:700; }
h3 { color:#0484D6; font-size:1.3em; font-weight:500; letter-spacing:-1px; border-bottom:1px solid #dfdfdf; padding-bottom:5px; }
a { color:#333333; }
a:hover { color:#F5362F; text-decoration:none; background-color:#fff; }

ul li { padding:0; margin:0; }
ul li a,
ul li span { display:block; padding:7px; border-bottom:1px solid #f8f8f8;}
ul li span { color: gray; }

.page-header {  padding:0; margin:0; border:none; }
.page-header h1 { font-weight:400; color:#F5362F; }
.page-header h1 b { color:#666666; padding:0 2px; font-weight:normal; }
.page-header h1 span { color:#0484D6; }

ul.events a span { color:#999999; padding-right:15px; }
ul.events a:hover span { color:#555555; }

.btn { background-color:#fefefe; font-weight:700; }
